<div class="login-container">

  <!-- PANEL IZQUIERDO -->
  <div class="left-content">
    <h1>Sistema de Paz y Salvo</h1>

    <p>
      Plataforma institucional del INAMHI para la gestión documental,
      validaciones interdepartamentales y control administrativo.
    </p>

    <ul>
      <li>✔ Gestión centralizada de solicitudes</li>
      <li>✔ Validación por áreas institucionales</li>
      <li>✔ Control y seguimiento en tiempo real</li>
      <li>✔ Auditoría y trazabilidad completa</li>
    </ul>
  </div>

  <!-- TARJETA LOGIN -->
  <div class="login-card">

    <div class="logo-box">
      <img src="/img/logo.png" alt="Logo INAMHI">
    </div>

    <p class="subtitle">Acceso al sistema institucional</p>

    <!-- USUARIO -->
    <div class="form-group">
      <label>Usuario</label>
      <input
        type="text"
        placeholder="Ingrese su usuario"
        [(ngModel)]="usuario"
        (input)="error=''"
        autocomplete="off"
        [class.input-error]="error && !usuario"
      >
    </div>

    <!-- PASSWORD -->
    <div class="form-group">
      <label>Contraseña</label>

      <div class="password-box">
        <input
          [type]="mostrarPassword ? 'text' : 'password'"
          placeholder="Ingrese su contraseña"
          [(ngModel)]="password"
          (keyup.enter)="ingresar()"
          (input)="error=''"
          [class.input-error]="error && !password"
        >

        
      </div>

    </div>

    <!-- BOTÓN LOGIN -->
    <button
      class="btn-login"
      (click)="ingresar()"
      [disabled]="cargando || !usuario || !password"
      [class.loading]="cargando"
    >
      <span *ngIf="!cargando">Ingresar al sistema</span>
      <span *ngIf="cargando">Ingresando...</span>
    </button>

    <!-- ERROR -->
    <p class="error" *ngIf="error">
      {{ error }}
    </p>

    <!-- FOOTER -->
    <small class="footer">
      © INAMHI - Talento Humano
    </small>

  </div>

  <!-- BURBUJAS -->
  <span></span>
  <span></span>
  <span></span>

</div>